<%- include('partials/header.ejs') %>


    <div class="container">
        <br>
    
    <!-- Greeting -->

    <!-- Title -->

    <!-- <h1>RememberMe</h1> -->
    
    <% if(user){ %>
        <h2 class="display-2 text-center">Welcome back, <%= user.name %></h2>
    <% } %>

    <!-- list -->

    <h2>Users Submissions</h2>

    <br>
    <div class="card mb-5">
        <ul class="list-group list-group-flush">
            <div class="row">
                <% list.forEach( item => { %>
                    <li class="list-group-item col-4"> <%= item %> </li>
                <% }); %>  
            </div>
        </ul>
    </div>

</div>
<%- include('partials/footer.ejs') %>
