<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>RememberMe - Profile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/style.css">
    <script src=""></script>
</head>
<body>
    <h1>RememberMe</h1>

    <h2>My name is <%=username%>!</h2>

    <!-- Page for displaying user dynamic remembered information -->

    <p><a href="/">Go home</a></p>
    <p><a href="/logout">Logout</a></p>
</body>
</html>