<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>RememberMe - Signup!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="css/style.css">
    <script src=""></script>
</head>
<body>
    <h1>Sign Up for RememberMe!</h1>

    <form action="/signup" method="POST">
        <!-- <label for="">Enter your name: </label>
        <input type="text" name="userName" placeholder="Please fill out" id="">
        <br> -->
        <div class="container">
            <div class="form-row">
                <label for="">Enter your email: </label>
                <input type="text" name="username" placeholder="Please fill out" id="">
            </div>
                <!-- <label for="">Enter your phone number: </label>
                <input type="text" name="userPhone" placeholder="Please fill out" id="">
                <br> -->
            <div class="form-row">
                <label for="">Enter your password: </label>
                <input type="text" name="password" placeholder="Please fill out" id="">
            </div>
            <div class="form-row">
                <button type="submit" name="submitButton">Submit</button>
            </div>
        </div>
    </form>
</body>
</html>